.select-strategy {
    background-color: #FFFFFF;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.select-strategy-left {
    width: 50%;
    float: left;
}

.select-strategy-right {
    width: 50%;
    float: right;
}

.select-strategy-right img {
    width: 100%;

}

.select-strategy-left .header-section  {
    padding-top: 50px;
}

.select-strategy-left .header-section .header-section-heading {
    text-align: left;
    font: normal normal normal 72px/82px Georgia;
    letter-spacing: 0;
    color: #010D0D;
}

.select-strategy-left .header-section .header-section-text {
    margin-top: 10px;
    width: 80%;
    text-align: left;
    font: normal normal normal 28px/32px Arial;
    letter-spacing: 0;
    color: #129297;
}

.container {
    width: 70%;
    border-radius: 0;
    background-color: #ffffff;
    padding-top: 40px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    color: #010D0D;
}
.selectStrategyForm input[type=text] {
    width: 100%;
    padding: 12px 20px;

    display: block;
    border-radius: 0px;
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #129297;
}

.btnBack {
    border: none;
    text-align: left;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    color: #129297;
    background: none;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.btnBack:active, .btnBack:focus, .btnBack:hover {
    outline: none;
    background: #12929710;
    border-radius: 2px;
}

.btnBack svg {
    margin-right: 5px;
}
.list-item { display: flex; justify-content: space-between;}